body {
    max-width: 80%;
    margin: 0 auto;
}

.container {
    display: grid;
    grid-template-areas:
        'header header header header'
        'menu content content sidebar'
        'footer footer footer footer';

    grid-gap: 10px;
    grid-template-columns: 200px 1fr 1fr 150px;
    grid-template-rows: 64px 1fr 128px;
}

.header {
    grid-area: header;
}

.content {
    grid-area: content;
}

.sidebar {
    grid-area: sidebar;
    align-self: flex-start;
}

.footer {
    grid-area: footer;
}

.menu {
    grid-area: menu;
    align-self: flex-start;
}