.section {
    border: 1px solid black;
}

.header {
    background-color: #f24d64;
    border-radius: 0 0 25px 25px;
}

.footer {
    background-color: #f24d64;
    color: #4b4d53;
    border-radius: 25px 25px 0 0;
}

.menu {
    background-color: #4b4d53;
    color: #ffffff;
    border-radius: 25px;
}

.sidebar {
    background-color: #4b4d53;
    color: #ffffff;
    border-radius: 25px
}

.sidebar ul {
    list-style: none;
}

body {
    background-color: #e6e6e6;
    background: url("../img/bg/2.jpg") no-repeat fixed center top / cover;
}

.content {
    background-color: #ffffff;
}

.nav {
    list-style: none;
}

.nav a {
    text-decoration: none;
    color: #ffffff;
}

.nav a :hover {
    color: #4b4d53;
}

.auth {
    list-style: none;
}

.auth a {
    text-decoration: none;
    color: #000000;
}

.button {
    width: 6em;
    height: 2em;
    background-color: #4b4d53;
    border: 1px solid #000000;
    border-radius: 25px;
}

.button :hover {
    background-color: #f24d64;
}