* {
    margin: 5px;
    border-radius: 25px;
    align-items: center;
    align-content: center;
    text-align: center;
}

body {
    background-color: aqua;
}

/*==========================================================*/
header {
    color: black;
    background-color: wheat;

    border-color: black;
    border-width: 1px;
    border-style: solid;
}

nav {
    background-color: wheat;
    color: black;

    border-color: black;
    border-width: 1px;
    border-style: solid;
}

/*==========================================================*/
main {
    color: black;
    background-color: wheat;

    border-color: black;
    border-width: 1px;
    border-style: solid;

    float: left;
    margin: 0 auto;
    width: 64%;
}

article {
    background-color: white;
}

section {
    background-color: azure;
}

/*==========================================================*/

aside {
    background-color: wheat;
    color: black;

    border-color: black;
    border-width: 1px;
    border-style: solid;

    float: left;
    margin: 0 auto;
    width: 34%;
}



/*==========================================================*/
footer {
    display: block;
    color: darkslategray;
    background-color: darkgray;

    border-color: black;
    border-width: 1px;
    border-style: solid;

    margin: 0 auto;
}