body {
    background-color: #e6e6e6;
    background: url("../img/bg/2.jpg") no-repeat fixed center top / cover;
}

.header {
    background-color: #f24d64;
    border: 2px solid #000000;
}

.footer {
    background-color: #f24d64;
    color: #4b4d53;
    border: 2px solid #000000;
}

.menu {
    background-color: #4b4d53;
    color: #ffffff;
    border: 2px solid #000000;
}

.strip {
    background-color: #4b4d53;
    color: #ffffff;
    border: 2px solid #000000;
}

.content {
    background-color: #ffffff;
}

.main {
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #000000;
}